/* .switch__wrapper {
  display: flex;
  flex-direction: row;
  width: 60px;
  height: 34px;
}

.switch__graphic {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

/* .switch__graphic input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__label {
  display: flex;
  flex-direction: row;
} */

.slider__disabled {
  /* pointer-events: none; */
  opacity: 0.25;
}
