@import './inputs/index.css';
@import './checkboxes/index.css';
@import './tables/index.css';
@import './tree/default/style.css';
@import './chips/index.css';
@import './buttons/index.css';
@import './selectBox/index.css';
@import './navbar/index.css';
@import './modal/index.css';
@import './modal/modal.css';
@import './containers/index.css';
@import './tooltip/index.css';
@import './icons/index.css';
@import './dropdown/index.css';
@import './autocomplete/index.css';
@import './input_date/index.css';
@import './timeline/index.css';
@import './togglechip/index.css';
@import './card/index.css';
@import './textinput/index.css';
@import './image/index.css';
@import './slider/index.css';
@import './navbar/subnav/index.css';
@import './display/index.css';

:root {
  --main-bg-color: brown;
  --border-radius: 15px;
  --light-border: 2px solid grey;
}
