.chip {
  display: inline-block;
  padding: 0px 25px;
  margin: 5px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #424242;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.chip_close {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.chip_close:hover {
  color: #000;
}

.finance_status_chip {
  display: flex;
  min-width: 90%;
  width: min-content;
  padding-right: 5px;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  cursor: default;
}
