/* input[type='date'] {
  background: transparent;
  font-family: inherit;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {

  position: absolute;
  opacity: 0%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
} */
