/********
 * TABS *
 ********/
/* Style the tab */
.tab {
  /* overflow: hidden; */
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-start;
  /* position: relative; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  min-width: 100px;
  /* margin-right: auto; */
}

/* Change background color of buttons on hover */
.tab button:hover:not(.active) {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.route.active {
  background-color: #ccc;
}
