.orange {
  color: rgb(255, 171, 14);
}
.yellow {
  color: rgb(218, 186, 9);
}
.green {
  color: green;
}
.blue {
  color: rgb(0, 132, 255);
}
.salmon {
  color: salmon;
}
.red {
  color: red;
}
.black {
  color: black;
}
.darkgreen {
  color: darkgreen;
}
