@import './components/index.css';
@import './auth/index.css';
@import './whatsapp/index.css';
@import './tipps.css';
@import './components.css';
@import './all.css';

.no_borders {
  border: none;
}

label {
  color: #4caf50;
  letter-spacing: 1px;
  font-size: 10pt;
}

.box_shadow {
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.15),
      0 2px 2px hsl(0deg 0% 0% / 0.15),
      0 4px 4px hsl(0deg 0% 0% / 0.15),
      0 8px 8px hsl(0deg 0% 0% / 0.15),
      0 16px 16px hsl(0deg 0% 0% / 0.15)
}