.card__outer__container {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__container {
  width: 40%;
  background: rgba(227, 242, 253, 0.75);
  margin: 15px;
  /* padding: 25px 15px 25px 15px; */
  max-width: 400px;
  min-height: 400px;
  max-height: 600px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  box-shadow:
  3.7px 3.4px 18.7px -63px rgba(0, 0, 0, 0.014),
  9.9px 9.2px 35.8px -63px rgba(0, 0, 0, 0.023),
  20px 18.5px 51.4px -63px rgba(0, 0, 0, 0.029),
  35.4px 32.8px 66.2px -63px rgba(0, 0, 0, 0.036),
  57.3px 53.1px 82.5px -63px rgba(0, 0, 0, 0.045),
  86.5px 80.1px 109.2px -63px rgba(0, 0, 0, 0.056),
  123px 114px 202px -63px rgba(0, 0, 0, 0.07)
;
animation: show 0.4s;
overflow: auto;

  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.card__container:hover {
  transform: scale(1.05);
}

.card__top {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px 15px 25px 15px;
  /* background: #90caf9 */
  background: rgba(207, 216, 220,1 );
  position: sticky;
  top: 0px;
}

.card__title {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.card__content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

.card__fields {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__bottom {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card__fields > * {
  flex-basis: 75%;
}

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}