/*********
 * INPUT *
 *********/

/* input {
  -webkit-box-sizing: border-box;
} */

/* td > input {
  border: 1px solid transparent;
  width: 100%;
  height: 20px;
} */

/* .wrap_field > input:not([type='checkbox']):not([type='submit']):not([id='company_filter']) { */
input[type='text']:not(#autocomplete, #show-all-values,#user_autocomplete,#contact_autocomplete, #company_autocomplete, .text__input) ,
/* input[type='number']:not([role='']) { */
.company_discount_end_date,
input[type='number'] {
  background-color: transparent;
  border: 1px solid lightgray;
  border-style: none none solid none;
  padding: 0.75em;
  margin-top: 10px;

  width: 80%;
  height: 20px;
}


/* Chrome, Safari, Edge, Opera */
input[type='text'] ::-webkit-outer-spin-button,
input[type='text'] ::-webkit-inner-spin-button,
input[type='number'] ::-webkit-outer-spin-button,
input[type='number'] ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover,
input:focus {
  border-bottom: 1px solid grey;
}

input:focus {
  outline: none;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:disabled {
  /* color: red; */
  text-decoration: line-through;
}
